<div class="tab-container">
  <div class="tabs" hx-target="#tab-content">
    @foreach{tab : tabList}
      <form class="tab" action="@{basePath}/@{tab.tabName}" method="GET" target="_SELF">
        <button type="submit">@{tab.tabName}</button>
      </form>
    @end{}
  </div>
  <div id="tab-content" class="tab-content">
    @{templateLoader.load(tabTemplate)}
  </div>
</div>

