<div class="tab-container">
  <div class="tabs" hx-target="#tab-content">
    @foreach{tab : tabList}
      <form class="tab" action="@{basePath}" method="GET" target="_SELF">
        <input type="hidden" name="tab" value="@{tab.target}" />
        <button type="submit">@{tab.name}</button>
      </form>
    @end{}
  </div>
  <div id="tab-content" class="tab">
    @{templateLoader.load(tabTemplate)}
  </div>
</div>

