<title>YouPipe | Channel | @{extractor.getName()}</title>
<img srcset="@foreach{img : extractor.getBanners()} @{img.url} @{img.width}w @end{", "}" alt="channel banner" />
<p>@{extractor.getName()}</p>

<pre>@{extractor}</pre>

<div>
</div>

@{templateLoader.load("common/tabs")}
