<!DOCTYPE html>

<html lang="en">
  <head>
    @if{isFragment || pageTemplate == null}
      <title>YouPipe</title>
    @end{}

    <!-- common css rules -->
    <style>
      nav {
        display: flex;
        justify-content: space-between;
      }
    </style>
  </head>
  <body hx-target="main" hx-boost="true">
    <nav>
      <div>
        <a href="/apis/user/feed">Feed</a>
        <a href="/apis/user/playlists">Playlists</a>
        <a href="/subscriptions">Subscriptions</a>
        <!--<a href="/search">Search</a>-->
        <a href="/settings">Settings</a>
      </div>
      <form action="/search" target="_SELF" method="GET">
        <input name="query" type="search" value="@{query}" />
        <button type="submit">search</button>
      </form>
    </nav>
    <main hx-history-elt>
      @if{!isFragment && pageTemplate != null}
        @include{pageTemplate}
      @else{}
        <p>Served from vert.x!</p>
      @end{}
    </main>
    <footer>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  </body>
</html>
