<html lang="en">
  <head>
    @if{isFragment || childTemplate == null}
      <title>YouPipe</title>
    @end{}

    <!-- common css rules -->
    <style>
      nav, nav form {
        display: inline;
      }
    </style>
  </head>
  <body hx-target="main" hx-boost="true">
    <nav>
      <a href="/apis/user/feed">Feed</a>
      <a href="/apis/user/playlists">Playlists</a>
      <a href="/subscriptions">Subscriptions</a>
      <a href="/search">Search</a>
      <a href="/settings">Settings</a>
    </nav>
    <main hx-history-elt>
      @if{!isFragment && childTemplate != null}
        @include{childTemplate}
      @else{}
        <p>Served from vert.x!</p>
      @end{}
    </main>
    <footer>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  </body>
</html>
