<!DOCTYPE html>

<html lang="en">
  <head>
    @if{!isFragment || pageTemplate == null}
      <title>YouPipe</title>
    @end{}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

    <!-- common css rules -->
    <style>
      :root {
        --theme-primary: #952922;
        --theme-secondary: #252024;
        --text-primary: white;
        --text-secondary: lightgrey;

        --space-1: 5px;
        --space-2: calc(var(--space-1) * 2);
        --space-3: calc(var(--space-1) * 3);
      }

      .material-symbols-outlined {
        vertical-align: text-bottom;
      }

      /* sitewide colours */
      * {
        color: var(--text-primary);
      }
      body {
        font-family: Arial, sans-serif;
        margin: 0px;
        background-color: var(--theme-secondary);
      }
      form {
        /*fieldset[role="group"] {
          border: none;
          padding: 0;
          display: flex;
        }*/
        input, button, select {
          &, & * {
            color: revert;
          }
        }
      }

      /* layout */
      nav, main, footer {
        padding: var(--space-2); 
      }

      nav {
        background-color: var(--theme-primary);

        position: sticky;
        top: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-section > * {
          margin-left: var(--space-1);
          margin-right: var(--space-1);
        }
      }

      footer section {
        display: flex;

        a {
          margin-right: var(--space-2);
        }
      }

      /* common template pattern */
      .tab-container {
        .tabs {
          display: flex;
          justify-content: stretch;
          margin-bottom: var(--space-1);

          .tab {
            flex: 1;

            button {
              width: 100%;
            }
          }
        }
      }

      /* search item list */
      .search-results {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        @media @{isMobile} {
          flex-direction: column;
        }
      }

      .search-result {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--space-1);
        width: 250px;
        height: 300px;

        @media @{isMobile} {
          flex-direction: row;
          height: 150px;
          width: 100%;
        }
      }

      .search-result img {
        background-position: center center;
        /*flex: 1 0 20%;*/
        /*height: 100px;*/
        @media @{isMobile} {
          flex: 1 0 20%;
        }
      }

      .search-result .details {
        /*flex: 5 0 80%;*/

        display: flex;
        flex-direction: column;

        @media @{isMobile} {
          flex: 2 0 80%;

          align-self: center;
        }

        .secondary-details, .secondary-details * {
          color: var(--text-secondary);
        }
      }
    </style>
  </head>
  <body hx-target="main" hx-swap="innerHTML show:no-scroll" hx-boost="true" hx-indicator=".htmx-indicator">
    <nav>
      <div class="nav-section">
        <a href="/">@{templateUtility.icon("home", "Home")}</a>
        <span class="htmx-indicator">@{templateUtility.icon("hourglass", "Loading")}</span>
      </div>
      <div class="nav-section">
        <a href="/subscriptions">Subscriptions</a>
        <a href="/playlists">Playlists</a>
      </div>
      <div class="nav-section">
        <a href="/search">@{templateUtility.icon("search", "Search")}</a>
        <a href="/settings">@{templateUtility.icon("settings", "Settings")}</a>
      </div>
    </nav>
    <main hx-history-elt>
      @if{!isFragment && pageTemplate != null}
        @{templateLoader.load(pageTemplate)}
      @else{}
        @{templateLoader.load("home")}
      @end{}
    </main>
    <footer>
      <hr />
      <p>Copyright (C) 2026 Gregory Norton</p>
      <section>
        <a href="https://github.com/stuffandahalf/youpipe" target="_BLANK">GitHub</a>
        <a href="https://github.com/TeamNewPipe/NewPipeExtractor" target="_BLANK">NewPipeExtractor</p>
      </section>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  </body>
</html>
