<title>YouPipe | Subscriptions</title>

<p>SUBSCRIPTIONS</p>

<form action="/subscriptions/all" target="_SELF">
  <button type="submit">View all</button>
</form>

@foreach{sub : subscriptions}
<div>
  <a href="@{linkUtility.buildChannelUrl(sub.url)}">@{sub.name}</a>
</div>
@end{}

