<title>YouPipe | Subscriptions</title>

<p>SUBSCRIPTIONS</p>

<form
  id="import-form"
  action="/subscriptions"
  target="_SELF"
>
  <input name="importSource" type="file" accept=".json,application/json,text/json" />
  <button type="submit">Import</button>
</form>

